%h2= t('devise.registrations.edit.title')
.row
  .columns.small-12.large-3
    %ul.collaide-side-nav
      = build_active_menu path: edit_user_registration_path(view: :general), text: t('devise.registrations.edit.general_change')
      = build_active_menu path: edit_user_registration_path(view: :password), text: t('devise.registrations.edit.change_password')
      = build_active_menu path: edit_user_registration_path(view: :email), text: t('devise.registrations.edit.email_preferences')
  .columns.small-12.large-9
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name, view: params[:view]), :html => { :method => :put, multipart: true }) do |f|
      = f.error_notification
      .form-inputs
        .row
          %div{class: hide_for?(:password)}
            .columns.small-12
              = f.input :password, :autocomplete => "off", label: t('devise.passwords.edit.password')
              = f.input :password_confirmation, label: t('devise.passwords.edit.password_confirmation')
              = f.input :current_password
          %div{class: hide_for?(:general)}
            .columns.large-6
              = f.input :email, :required => true, :autofocus => true
              = f.input :name
            .columns.large-6
              = image_tag resource.avatar.large
              = f.input :avatar_cache, as: :hidden
              = f.input :avatar, input_html: {class: 'hide'}
              =link_to t('devise.registrations.edit.avatar'), '#', class: 'std-button', onclick: '$("#user_avatar").click();'
            .columns.small-12
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %p= t("devise.registrations.edit.waiting_confirmation", resource: resource.unconfirmed_email)
            %h5= t "devise.registrations.edit.cancel_my_account"
            %p
              = t "devise.registrations.edit.unhappy"
          %div{class: hide_for?(:email)}
            .columns.small-12
              = f.input :sent_email, as: :radio_buttons, label: t('devise.registrations.edit.sent_email')
      .form-actions
        = f.button :submit, t("devise.registrations.edit.update")