=render(layout: 'group/layouts/layout') do
  %h4= t('groups.topics.index.description')
  -#%blockquote= t('groups.topics.index.description')
  .sticky-element
    = link_to foundation_icons('fi-plus large') + t('groups.topics.form.submit'), '#', class: 'std-button show-hidden', :'data-show-element' => 'new-topic-form', :'data-other-text' => foundation_icons('fi-minus large') + t('dico.cancel')
    #new-topic-form.hide.toggled-element
      = render 'group/topics/form'
  .row
    .columns.small-12
      %h4= t('groups.topics.index.last_discussions')
      -if @topics.empty?
        %p= t('groups.topics.index.empty')
      -else
        %table#infinite-scroll
          %thead
            %tr
              %th{:'width' => '393'}= t('groups.topics.index.table.subject')
              %th= t('groups.topics.index.table.messages')
              %th= t('groups.topics.index.table.views')
              %th= t('groups.topics.index.table.users')
              %th= t('groups.topics.index.table.activity')
          %tbody.page
            -@topics.each do |t|
              %tr.item
                %td.td-subheader
                  = link_to(print_topic_title(t), group_group_topic_path(group_group_id: @group, id: t))
                  - if t.created_at + 15.minutes >= Time.now
                    %span.label.success= t('groups.topics.index.table.new')
                %td= t.comments.size + 1
                %td= t.views
                %td
                  - t.last_contributors.each do |user|
                    = user_image(user)
                %td= time_ago_in_words t.updated_at
        .hide
          = paginate @topics
