%h1= t('groups.groups.layout.title', group: @group)
.row
  .columns.small-3
    %ul.collaide-side-nav
      = build_active_menu path: group_group_path(@group), text: t('groups.groups.menu.welcome'), icon: 'info'
      = build_active_menu path: group_group_topics_path(group_group_id: @group), text: t('groups.groups.menu.topic'), icon: 'comments'
      = build_active_menu path: '', text: t('groups.groups.menu.files'), icon: 'info'
      = build_active_menu path: '', text: t('groups.groups.menu.invitations'), icon: 'page-multiple'
      = build_active_menu path: '', text: t('groups.groups.menu.admin'), icon: 'widget'
  .columns.small-9
    =yield