= render layout: 'group/layouts/group_creation', locals: {step: 3} do
  %h1= t('groups.group_creation.password.unknow_user.h1_title')
  %h4.subheader= t 'groups.group_creation.password.unknow_user.subheader'

  =simple_form_for @user, url: registration_path('user'), html: {id: 'user_sign_in'} do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, :required => true, :autofocus => true, input_html: { autocomplete: 'off' }
      = f.input :name
      = f.input :password, :required => true, input_html: { autocomplete: 'off' }
      = f.input :password_confirmation, :required => true
    =render partial: 'group/layouts/navigation', locals: {backward: group_group_create_user_login_path}