%p= t('devise.mailer.reset_password_instructions.greetings')

%p= t('devise.mailer.reset_password_instructions.paraph_1', addres: @resource.email)

%p= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, :reset_password_token => @token)

%p= t('devise.mailer.reset_password_instructions.paraph_2')

%p
  = t('devise.mailer.reset_password_instructions.paraph_3')
  =link_to t('app_name'), eval("root_#{I18n.locale}_url")
  !

%p= t('devise.mailer.reset_password_instructions.signature')