= t('notifications_mailer.signup.greeting', user: @user.to_s)
= ''
= t('notifications_mailer.signup.p1') + "\n"
= ''
= t('notifications_mailer.signup.p2', link: t('notifications_mailer.signup.group_created') + "(#{new_group_group_url})")
-t('notifications_mailer.signup.list').each_line do |line|
    = '  –' + line
= ''
= t('notifications_mailer.signup.p3') + "\n"
= ''
= t('notifications_mailer.signup.end', collaide: root_url)
= t('notifications_mailer.signup.signature')
