.contain-to-grid
  %nav.top-bar{'data-topbar' => ''}
    %ul.title-area
      %li.name
        %h1= link_to image_tag("collaide_logo.svg", size: "90x316"), eval("root_#{I18n.locale}_path")
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section.top-bar-section
      %ul.right
        - if user_signed_in?
          %li.divider.hide-for-small
          %li.has-dropdown
            %a{href: "#"}
              %span.fi-widget
                %span.show-for-small=t('header.user.settings')
            %ul.dropdown
              %li= link_to current_user, user_path(current_user)
              %li.divider
              %li= link_to t('header.user.edit'), edit_user_registration_path
              %li.divider
              %li= link_to t('header.user.logout'), destroy_user_session_path, method: :delete
          %li.divider.hide-for-small
        - else
          %li.has-form= link_to(t('header.sign_up'), "#", class: 'up-button right-off-canvas-toggle', id: 'header-sign-up-button')
          %li.has-form= link_to(t('header.sign_in'), "#", class: 'in-button right-off-canvas-toggle', id: 'header-sign-in-button')